.music button {
  position: absolute;
  right: 1%;
  bottom: 11%;
  background-color: transparent;
  width: 35px;
  border: none;
  cursor: pointer;
}

.music button:hover {
  background-color: transparent;
}

@media screen and (min-width: 720px) {
  .music button {
    height: 35px;
    font-size: 22px;
  }
}
