.instruction {
  border: 3px solid #63595f;
  /* height: 600px; */
  height: 430px;
  width: 300px;
  background-color: #63595f;
  color: white;
}

.instruction h2 {
  text-align: center;
}

.instruction-steps {
  /* height: 6%; */
  padding: 15px;
}

@media screen and (min-width: 720px) {
  .instruction {
    height: 450px;
    width: 550px;
    font-size: 18px;
  }
}
