.leaderboard-section,
.instruction-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard {
  background-color: #ece4a0;
  border: 3px solid #63595f;
  height: 400px;
  width: 270px;
}

.leaderboard h2 {
  text-align: center;
  padding: 5px 0;
  width: 265px;
  border-bottom: 3px solid #63595f;
}

.leaderboard h2,
.leaderboard-top-three {
  background-color: #63595f;
  color: white;
}

.leaderboard-first {
  width: 100%;
}

.leaderboard-top-three {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-evenly;
}

.top-score {
  display: block;
}

.leaderboard-second-third {
  display: flex;
  justify-content: space-evenly;
}

.leaderboard-list {
  width: 265px;
  border-top: 3px solid #63595f;
  counter-reset: li;
}

.leaderboard-list-item {
  display: flex;
  /* justify-content: space-between; */
  margin: 5px 40px;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}

.leaderboard-first,
.leaderboard-second-third div {
  text-align: center;
}

.leaderboard-first img {
  width: 50px;
}

@media screen and (min-width: 720px) {
  .leaderboard {
    width: 420px;
    height: 500px;
  }

  .leaderboard h2 {
    width: 415px;
  }

  .leaderboard-list {
    width: 415px;
  }

  .leaderboard-top-three,
  .leaderboard-list {
    font-size: 18px;
  }
}
