.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-image: url(../../Images/gamePark.svg);
}

.display {
  display: flex;
  align-items: center;
  width: 80vw;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  background-color: rgb(153, 140, 148);
  border: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
}

.display-button {
  background-color: rgb(236, 228, 160);
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.display h1,
.display h2 {
  text-align: center;
}

.display h1 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

@media screen and (min-width: 720px) {
  .display {
    border: 3px solid rgb(158, 158, 158);
    width: 50vw;
    min-height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
  }

  .display-button {
    font-size: 18px;
  }

  .display h1 {
    text-align: center;
  }
}
