.washHandGame {
  background-image: url("../../Images/sink-mobile.svg");
  background-size: cover;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: top center;
}

.washHandTimerContainer {
  border: 3px solid rgb(99, 89, 95);
  border-radius: 15px;
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: 80%;
  background-color: rgb(255, 255, 255);
}

.washHandTimer {
  height: 10px;
  width: 0%;
  background-color: rgb(157, 235, 157);
  border-radius: 10px;
  transition: 0.5s;
}

.washingHangButton {
  position: absolute;
  bottom: 40%;
  left: 45%;
}

.washHandButton {
  position: absolute;
  bottom: 50%;
  left: 45%;
}

.minigame-end-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 720px) {
  .washHandGame {
    background-image: url("../../Images/sink.svg");
  }

  .washHandTimer {
    height: 15px;
  }

  .washButton,
  .washHandButton {
    left: 47%;
  }
}
