.runner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../../Images/gamePark.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gameInfo h1 {
  padding: 20px;
}

.hide {
  display: none;
}
